<style>
  .div1 {
    border-bottom: 2px solid #E5E4E2;
  }
</style>


<div class="div1">
  <li>
    <br>
      <%= pledge.user.name %> pledged <%= pledge.hours%> hours <%= pledge.created_at.strftime("- %a %b %d") %> <br>
      <%= pledge.comment if pledge.comment %>
    <br>
    <br>
  </li>
</div>