<style>
  .div1 {
    border-bottom: 1px solid grey;
  }
</style>


<li>
<div class="div1">
<br>
  <%= pledge.user.name %> pledged <%= pledge.hours%> hours <%= pledge.created_at.strftime("- %a %b %d") %> <br>
  <%= pledge.comment if pledge.comment %>
<br>
<br>
</div>
</li>