<% if is_logged_in? %>
  <% if current_user == project.organizer %>
    <%= button_to "Edit", edit_project_path(project), method: :get %>
    <br>
    <%= button_to "Delete", project_path(project), method: :delete%>
  <%elsif already_pledged?(project, current_user) %>
    <h5 class="center-align">Thank you for pledging your time to this Project!</h5>
    <br>
  <% elsif project.state == current_user.state %>
    <%= button_to "Pledge Your Time!", new_project_pledge_path(project), method: :get %>
  <%end%>
<%end%>