<style>
  .div1 {
    border-bottom: 1px solid grey;
  }
</style>

<ul>
  <li>
    <% pledges.each do |pledge| %>
      <div class="div1">
        <i class="small material-icons" style="color:green">person &ensp;</i> <%= pledge.user.name %> pledged <%= pledge.hours%> hours <%= pledge.created_at.strftime("-%b %d") %> <br>
        <br>
      </div>
      <br>
    <% end %>
  </li>
</ul>