  <%= form_tag ({controller: 'pledges', action: 'create', method: 'post'}) do %>
    <label>Hours: </label>
    <input type=text name=pledge_hours size="1">
    <input type=submit value='Pledge Your Time!'>
  <%end%>