<style>
  .div1 {
    border-bottom: 1px solid #E5E4E2;
  }

  .icon {
    position: relative;
    top: 7px;
    left: 5px;
  }
</style>

<ul>
  <li>
    <% pledges.each do |pledge| %>
      <div class="div1">
        <i class="icon small material-icons" style="color:green">person &ensp;</i> <%= pledge.user.name %> pledged <%= pledge.hours%> hours <%= pledge.created_at.strftime("-%b %d") %> <br>
        <br>
      </div>
      <br>
    <% end %>
  </li>
</ul>