
<div class="center-align">
  <h1>Edit Project Page</h1>
<%= button_to "Delete Project", project_path(@project), method: :delete, :class => "btn red"%>
</div>

<%= render partial: 'form', locals: {project: @project, button_name: "Update Project"}%>

