<style>

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1%
}

  .div1 {
    padding-top: 80px
  }

  .last {
    padding-bottom: 1000px,
  }

</style>





<div class="div1 container row">
  <div class="col s4 offset-s1">
    <h1>Test</h1>
    <h4><b>Tackle issues in your community!</b></h4>
    <br>
    <h5>Create a project in your area to connect with people that will help you reach your goals.</h5>
    <br>
    <br>
    <div>
    <%= button_to "Start a Project", new_project_path, method: :get, :class => "btn-large green lighten-1"%>
    </div>
  </div>

  <div class="col s5 offset-s1">
    <p>
      <img src="https://www.thebalancesmb.com/thmb/9NC6O_ztNpMqdGdnpQsAcQftG0A=/2121x1414/filters:fill(auto,1)/volunteers18-5b2fe1c9a474be0036f6a7b2.jpg" alt="">
  </div>
</div>

<br>
<br>
<div class="container row">
  <div class="col s4 offset-s1">
    <img src="https://images.pexels.com/photos/6647123/pexels-photo-6647123.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </div>

  <div class="col s4 offset-s2">
    <h4><b>Get involved in a cause you care about, in the community you care about most!</b></h4>
    <br>
    <h5>Browse upcoming projects or check your community calender to find something that works for you.</h5>
    <br>
    <br>
    <br>
    <br>
    <div class="center-align">
      <%= button_to "Local Projects", projects_path, method: :get, :class => "btn-large yellow darken-1 black-text"%>
    </div>
  </div>
</div>

<div class="last container row">
  <div class=" col s10 offset-s1">
  <h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
    sunt in culpa qui officia deserunt mollit anim id est laborum
  <br>
  <br>
  <br>
  </div>
</div>



<footer class="page-footer grey lighten-4">
  <div class="container">
    <div class="row">
      <div class="col s4 offset-s1">
        <h5 class="green-text"><b>Go Local!</b></h5>
        <br>
        <p class="black-text">Go Local! is a Flatiron school project using Ruby on Rails.</p>
      </div>

      <div class="col s3 offset-s3">
        <h5 class="black-text">Links</h5>
        <ul>
          <li><a class="black-text" href="https://github.com/skabe89/">About Us</a></li>
          <li><a class="black-text" href="mailto:skabe89flatiron@gmail.com">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
