<style>

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1%
}

  .div1 {
    padding-top: 80px
  }

</style>





<div class="div1 container row">
  <div class="col s4 offset-s1">
    <h4><b>Tackle issues in your community!</b></h4>
    <br>
    <h5>Creating a new project is as easy as filling out a simple form</h5>
    <br>
    <br>
    <br>
    <br>
    <div>
    <%= button_to "Start a Project", new_project_path, method: :get, :class => "btn-large green lighten-1"%>
    </div>
  </div>

  <div class="col s5 offset-s1">
    <p>
      <img src="https://www.thebalancesmb.com/thmb/9NC6O_ztNpMqdGdnpQsAcQftG0A=/2121x1414/filters:fill(auto,1)/volunteers18-5b2fe1c9a474be0036f6a7b2.jpg" alt="">
  </div>
</div>

<br>
<br>
<div class="container row">
  <div class="col s4 offset-s1">
    <img src="https://images.pexels.com/photos/6647123/pexels-photo-6647123.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </div>

  <div class="col s4 offset-s2">
    <h4><b>Get involved in a cause you care about, in the community you care about most!</b></h4>
    <br>
    <h5>Browse upcoming projects or check your community calender to find a project that works for you.</h5>
    <br>
    <br>
    <br>
    <br>
    <div class="center-align">
      <%= button_to "Local Projects", projects_path, method: :get, :class => "btn-large yellow black-text"%>
    </div>
  </div>
</div>

<div class="container row">
  <div class=" col s10 offset-s1">
  <h5>
    What is Lorem Ipsum?
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a 
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </h5>
  </div>
</div>

